.wrapper2 {
    position: relative;
}
.toaster2 {
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
}
.toast-transitioned {
    --gap: 10px;
    position: absolute;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease-in-out,
        translateY 300ms ease-out, translate 300ms ease-out;
    translate: 0 calc(var(--index) * (100% + var(--gap)) * -1);
}

.toast-transitioned[data-mounted="true"] {
    opacity: 1;
    transform: translateY(0);
}
