.wrapper {
    position: relative;
}
.toaster {
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
}
.toast-new {
    --toast-height: -70px;
    position: absolute;
    animation: toast-fade-in 0.3s ease-in-out;
    transition: transform 300ms ease-out;
    transform: translateY(calc(var(--index) * var(--toast-height)));
}

@keyframes toast-fade-in {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
    }
}
